<div class="container-info-window">

  <div class = "d-flex flex-column border-bottom border-primary">
    <h4 class = "text-center title-color"><%= cinema.name.titleize %></h4>
    <p class = "text-center location-info-window"><%= cinema.location.titleize %></p>
  </div>

  <div class = "text-start mt-2 mb-2 border-bottom border-primary">
    <p> Choisissez une date </p>
    <p><%= Date.today.strftime("%d %B %y")%></p>
  </div>

  <div class = "mt-2 mb-2 border-bottom border-primary">

      <%= simple_form_for(sharing) do |f| %>
  <%= f.association :session,
              as: :radio_buttons,
              label: "Choisissez une séance",
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'session-wrapper',
              item_wrapper_class: 'session-item',
              input_html: {class: 'session-selector'},
              collection: sessions %>
  </div>
      <%= f.input :description, label: "Motivez vos amis", placeholder: "Qui est chaud ? Les popcorns, c'est pour moi" %>
      <%= f.submit "Partager avec vos amis"  %>
    <% end %>

</div>
