<div class="container">

  <div class = "d-flex justify-content-between border-bottom">
    <p><%= movie.title %></p>
    <p><%= cinema.name %></p>
    <p><%= cinema.location %></p>
  </div>

  <div class = "text-start mt-2 border-bottom">
    <p> Choisissez une date </p>
    <p><%= Date.today.strftime("%d %B %y")%></p>
  </div>

    <%= simple_form_for(sharing) do |f| %>
<%= f.association :session,
            as: :radio_buttons,
            label: "Choisissez une séance",
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'session-wrapper',
            item_wrapper_class: 'session-item',
            input_html: {class: 'session-selector'},
            collection: sessions %>
    <%= f.submit "Partager" %>
  <% end %>

</div>
