<div data-controller="home-page-selection">
  <div class="home-title d-flex justify-content-between">
    <label class="selected-movies-title" data-action="click->home-page-selection#updateContent"  data-home-page-selection-target="movieSortiesLabel">
    <input data-home-page-selection-target="movieSortiesInput" type="radio" id="huey" name="menu-title" value="huey" class="hidden" >
      <h2 class="sorties-semaine-bar">Sorties semaine</h2>
    </label>
    <label data-action="click->home-page-selection#updateContent" data-home-page-selection-target="movieSuggestionLabel" >
      <input data-home-page-selection-target="movieSuggestionInput" type="radio" id="huey" name="menu-title" value="huey" checked class="hidden" >
      <h2 class="suggestion-bar">Suggestions</h2>
    </label>
  </div>

  <div class="container hidden-div" data-home-page-selection-target="suggestion">
    <% @selected_movies.each do |movie| %>
      <%= link_to movie_path(movie) do %>
        <div class="movie-card d-flex justify-content-between">
         <div class="movie-image">
           <%= cl_image_tag movie.photo.key if movie.photo.attached? %>
        </div>
        <div class="movie-details">
           <div class="details-row25 group-icon d-flex justify-content-between">
              <p class="market-rating align-text-bottom"><i class="fa-solid fa-star"></i><span class="d-block ml-2"><%= movie.rating_for_user(current_user)%></span></p>
              <p class="genre-tag text-center <%=movie.genre.downcase%>"><%= movie.genre%></p>
            </div>
            <div class="details-row50 texte-white">
              <%= movie.title%>
            </div>
            <div class="details-row25 d-flex justify-content-between">
              <p class="nb-cinema text-center align-bottom"><%= (2..6).to_a.sample %> cinémas à côté </p>
              <% if Sharing.joins(session: :movie).where(user: current_user.followed_users, movies: { id: movie.id }).count > 0 %>
                  <p class="user-join mr-2"><i class="fa-solid fa-users"></i><%= Sharing.joins(session: :movie).where(user: current_user.followed_users, movies: { id: movie.id }).count %></p>
                <% end %>
            </div>
         </div>
        </div>

      <% end %>
      <% end %>
  </div>

  <div class="container" data-home-page-selection-target="sortiesSemaine">
    <% @sorties_semaine.each do |movie| %>
      <%= link_to movie_path(movie) do %>
        <div class="movie-card d-flex justify-content-between">
         <div class="movie-image">
           <%= cl_image_tag movie.photo.key if movie.photo.attached? %>
        </div>
        <div class="movie-details">
           <div class="details-row25 group-icon d-flex justify-content-between">
              <p class="market-rating align-text-bottom">
                <% if movie.rating_for_user(current_user).present? %>
                  <i class="fa-solid fa-star"></i><span class="d-block ml-2"><%= movie.rating_for_user(current_user) %></span>
                <% end %>
              </p>
              <p class="genre-tag text-center <%=movie.genre.downcase%>"><%= movie.genre%></p>
            </div>
            <div class="details-row50 texte-white">
              <%= movie.title%>
            </div>
            <div class="details-row25 d-flex justify-content-between">
              <p class="nb-cinema text-center align-bottom"><%= (1..6).to_a.sample %> cinémas à côté </p>
              <% if Sharing.joins(session: :movie).where(user: current_user.followed_users, movies: { id: movie.id }).count > 0 %>
                  <p class="user-join mr-2"><i class="fa-solid fa-users"></i><%= Sharing.joins(session: :movie).where(user: current_user.followed_users, movies: { id: movie.id }).count %></p>
                <% end %>
            </div>
         </div>
        </div>

      <% end %>
      <% end %>
  </div>

</div>
