
<%= render "shared/navbar" %>


<div data-controller="home-page-selection">
  <div class="home-title d-flex justify-content-between">
    <label class="selected-movies-title" data-action="click->home-page-selection#updateContent" data-home-page-selection-target="movieSuggestionLabel" >
      <input data-home-page-selection-target="movieSuggestionInput" type="radio" id="huey" name="menu-title" value="huey" checked class="hidden" >
      <h2 class="suggestion-bar">Suggestions</h2>
    </label>
    <label data-action="click->home-page-selection#updateContent"  data-home-page-selection-target="movieSortiesLabel">
    <input data-home-page-selection-target="movieSortiesInput" type="radio" id="huey" name="menu-title" value="huey" class="hidden" >
      <h2 class="sorties-semaine-bar">Sorties semaine</h2>
    </label>
  </div>

  <div class="container" data-home-page-selection-target="suggestion">
    <% @top_rated_movies.each do |movie| %>
      <%= link_to movie_path(movie) do %>

        <div class="movie-card d-flex justify-content-between">
         <div class="movie-image">
           <%= cl_image_tag movie.photo.key if movie.photo.attached? %>
        </div>
        <div class="movie-details">
           <div class="group-icon d-flex justify-content-between mt-2 mb-2 ml-1">
              <p class="genre-tag <%=movie.genre.downcase%>"><%= movie.genre%></p>
              <p class="market-rating"> <i class="fa-solid fa-star"></i> <%= movie.market_rating%></p>
            </div>
            <h3 class="movie-title"><%= movie.title%></h3>
            <div class="group-text-movie d-flex justify-content-between">
              <p><%= movie.release_date.strftime("%d %b %Y")%></p>
              <p><%= movie.duration%> min</p>

            </div>
         </div>
        </div>

      <% end %>
      <% end %>
  </div>


  <div class="container" data-home-page-selection-target="sortiesSemaine">
    <% @sorties_semaine.each do |movie| %>
      <%= link_to movie_path(movie) do %>


        <div class="movie-card d-flex justify-content-between">
         <div class="movie-image">
           <%= cl_image_tag movie.photo.key if movie.photo.attached? %>
        </div>
        <div class="movie-details">
           <div class="group-icon d-flex justify-content-between mt-2 mb-2 ml-1">
              <p class="genre-tag <%=movie.genre.downcase%>"><%= movie.genre%></p>
              <p class="market-rating"> <i class="fa-solid fa-star"></i> <%= movie.market_rating%></p>
            </div>
            <h3 class="movie-title"><%= movie.title%></h3>
            <div class="group-text-movie d-flex justify-content-between">
              <p><%= movie.release_date.strftime("%d %b %Y")%></p>
              <p><%= movie.duration%> min</p>

            </div>
         </div>
        </div>

      <% end %>
      <% end %>
  </div>


</div>

<%= render "pages/footbar" %>
