<div class="modal fade" id="new_review_modal_<%= modal_id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-rating">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <%= simple_form_for [movie, review] do |f| %>
        <div class="modal-body">
          <%= f.input :comment, label: "Vottre commentaire", placeholder: "Raconter votre expérience" %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Votre un avis", input_html: {data: {controller: "star-rating"}} %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Ajouter", class: "btn btn-primary" %>
          <%# <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Back</button> %>
        </div>
      <% end %>
    </div>
  </div>
</div>
